*{
    margin: 0;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: aqua;
}

header {
    background-color: gray;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    background-color: red;
    border: 1px
}
